div.container {
    width: 100%;
    
}

div.col {
    padding: 0;
    color: #321F3F;
    border-bottom: solid 2px #312040;
    border-left: solid 2px #312040;
    border-right: solid 2px #312040;
}
div.hours {
    padding: 0;
    margin: 0;
    color: white;
    background-color: #321F3F;
    border-bottom: solid 2px #312040;
    border-left: solid 2px #312040;
    border-right: solid 2px #312040;
}


div.col-8  {
    padding: 0;
    height: 100vh;
 
}

img.logo {
    width: 100%;
    margin: 0;
    padding-right: 1.5px;
    border: solid 2px #312040;
}

img.door {
    height: 100vh;
    width:100%;
    z-index: -1;
    opacity: 0.5;
}
h4 {
  
    border-bottom: solid 2px #312040;
    border-left: solid 2px #312040;
    border-right: solid 2px #312040;
}
h4.address {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.welcome {
    position: absolute;
    z-index: 2;
    top: 2vh;
    font-size: 30vh;
    margin: 0 auto 0 auto;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    color: #B92D26;
}

h1.mission {
    position: absolute;
    z-index: 2;
    bottom: 20vh;
    width: 35vw;
    font-size: 5vh;
    padding-left: 2vw;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    text-align: justify;
    color: white;

}

li.nav-item:hover {
    background-color: #B92D26;
    color: #312040;
    
    
}
a.nav-link {
    color: #312040;
    font-size: 25px;
    text-align: left;
}

a.nav-link:hover {
    color: white;
}

span.houseIcon, span.churchIcon, span.pastorIcon, span.calendarIcon, span.giftIcon, span.ministryIcon, span.contactIcon {
    font-size: 35px;
    margin-right: 100px;
    
}

