div.church {
    background-color: #301F40;
}

img.church {
    width: 45vw;
    margin-right: 1.5vw;
}

a.nav-item.nav-link.list {
    margin: auto 40px auto 40px;
    color: #301F40;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

a.church.nav-link {
    text-decoration: none;
}

a.first.nav-item.nav-link.list {
    
    margin: auto 40px auto 40px;
    padding-left: 10vw;
    color: #301F40;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

a.nav-link:hover {
    text-decoration: none;
    color: #B72C25;
}

div.holder {
    position: absolute;
    top: 10vh;
    background-color: #301F40;
    width: 100%;
    color: lightgray;
}

h1.display-3.churchTitle {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    background-color: #301F40;
}

p.paraText {
    font-size: 25px;
    padding-left: 5vw;
    padding-right: 5vw;
    text-align: justify;
    background-color: #301F40;
    width: 100%;
    color:antiquewhite;
    margin-bottom: 0;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    
}

p.paraText.second {
    color: pink;
}

ul.reverend {
    color: antiquewhite;
    font-size: 25px;
    list-style: none;
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    height: 200px;
    padding-left: 10vw; 
    padding-top:10px;   
}

div.reverendList.row {
    height: 310px;
}
div.reverendList.col-4 {
    height: 310px;
}

img.cornerLogo {
    position: absolute;
    top:0;
    right: 0;
    height: 12vh;
    width: 20vw;
    z-index: 75; 
}

@media screen and (max-width: 1007px) {
    img.church.navLogo {
        display: none;
    }
}

