
a.nav-item.nav-link.list {
    margin: auto 40px auto 40px;
    color: #301F40;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

a.first.nav-item.nav-link.list {
    margin: auto 40px auto 40px;
    padding-left: 10vw;
    color: #301F40;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

a.nav-item.nav-link.list:hover {
    font-size: 30px;
    color: #B72C25;
}

div.holder {
    position: absolute;
    top: 10vh;
    background-color: #301F40;
    height: 100vh;
    width: 100%;
    color: lightgray;
}

h1.display-3.churchTitle {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    background-color: #301F40;
}

p {
    font-size: 25px;
    padding-left: 15vw;
    padding-right: 15vw;
    text-align: justify;
    background-color: #301F40;
    width: 100%;
    color:antiquewhite;
}

img.d-inline-block.align-top {
    height: 8vh;
    width: auto;
}

img.navLogo {
    height: 8vh;
    width: auto;
}

