div.pageHolder {
    background:#321F3F;
    height: 100vh;
    width: 100vw;
}
ul.nav.nonHome.justify-content-left {
    background-color:#321F3F;
  }
  
  img.cornerLogo {
    position: absolute;
    top:0;
    right: 0;
    height: 12vh;
    width: 20vw;
    z-index: 75; 
  }

  h1.display-4.contactTitle {
      color: antiquewhite;
      text-align: left;
      padding-left:  20px;
      padding-top: 50px;
  }

  h4.contactTag {
    color: antiquewhite;
    text-align: left;
    padding-left:20px;

  }
  
iframe.form {
    position: absolute;
    left:20px;
}

  p.address {
      font-size: 3vh;
      padding-top: 300px;
      padding-left: 30px;
      color: antiquewhite;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

path  {
    color: antiquewhite;
}

div.fa {
    font-size: 7vh;
    color: antiquewhite;
    display: inline;
    margin: 10px;
}
  
