* {
    margin:0;
    padding:0;
}

ul.nav.justify-content-left {
    
    font-size: 25px;
    
    
}

a.nav-link {
    color: antiquewhite; 
    animation: colorChange 15s, linear;
    margin-right: 12px;
}

div.col-10 {
    height: 100vh;
    margin: 0;
    padding: 0;
}

div.col-2 {
    background-color:#321F3F;
    margin: 0;
    padding: 0;
    z-index: 15;
}

div.btn-group-vertical.btn-group-lg {
    width: 100%;
    background-color:#321F3F;
    z-index: 15;
}

button.btn.btn-secondary {
    background-color:#321F3F;
    border-color:  #321F3F;
    color: antiquewhite; 
    font-size: 15px;
}

img {
    width: 100%;
    top: 25vh;
    z-index: 15;
}


@keyframes colorChange {
    25% { color: antiquewhite; }
    33.33% { color: antiquewhite; } 
    89.66% { color: #321F3F;}
    95% { color: #321F3F;}
    100% {color: antiquewhite;}
 }