* {
    margin:0;
    padding:0;
}

ul.nav.justify-content-end {
    background-color:#624B68;
    font-size: 25px;
    color: antiquewhite; 
}

div.col-10 {
    height: 100vh;
    margin: 0;
    padding: 0;
}

div.col-2 {
    background-color:#321F3F;
    margin: 0;
    padding: 0;
    z-index: 15;
}

div.btn-group-vertical.btn-group-lg {
    width: 100%;
    background-color:#321F3F;
    z-index: 15;
}

button.btn.btn-secondary {
    background-color:#321F3F;
    border-color:  #321F3F;
}
img {
    width: 100%;
    top: 15vh;
    z-index: 15;
}


