* {
    margin: 0;
    padding: 0;
}
h1.landingWelcome {
    z-index: 7;
    position: absolute;
    font-size: 8vh;
    font-family: cursive;
    color: antiquewhite;
    bottom: 15vh;
    right: 8vw;
    margin: 0;
    padding: 0;
    -webkit-animation: landingSlideshow 15s linear 0s,
    imageZoom 5s linear;

    -moz-animation: landingSlideshow 15s linear 0s,
        imageZoom 5s linear ;

    -ms-animation: landingSlideshow 15s linear 0s,
        imageZoom 5s linear ;

    -o-animation: landingSlideshow 15s linear 0s,
        imageZoom 5s linear ;

    animation: landingSlideshow 15s linear 0s,
    imageZoom 5s linear ;
}

h1.landingFamily {
    z-index: 4;
    position: absolute;
    font-size: 8vh;
    font-family: cursive;
    color: antiquewhite;
    bottom: 15vh;
    right: 8vw;
    margin: 0;
    padding: 0;
    -webkit-animation: landingSlideshow 15s linear 5s, imageZoom 10s linear;
    -moz-animation: landingSlideshow 15s linear 5s, imageZoom 10s linear;
    -ms-animation: landingSlideshow 15s linear 5s, imageZoom 10s linear;
    -o-animation: landingSlideshow 15s linear 5s, imageZoom 10s linear;
    animation: landingSlideshow 15s linear 5s, imageZoom 10s linear;
}


img.landingImage {
    position: absolute;
    height:100vh;
    width:100vw;
    top: 0; left: 0;
    z-index: 4;
    -webkit-animation: landingSlideshow 15s linear 0s,
                    imageZoom 5s linear;

    -moz-animation: landingSlideshow 15s linear 0s,
                     imageZoom 5s linear ;

    -ms-animation: landingSlideshow 15s linear 0s,
                     imageZoom 5s linear ;

    -o-animation: landingSlideshow 15s linear 0s,
                     imageZoom 5s linear ;

    animation: landingSlideshow 15s linear 0s,
                imageZoom 5s linear;
  }
  
  img.landingImage:nth-child(2) {
    z-index: 3;
    -webkit-animation: landingSlideshow 15s linear 5s, imageZoom 10s linear;
    -moz-animation: landingSlideshow 15s linear 5s, imageZoom 10s linear;
    -ms-animation: landingSlideshow 15s linear 5s, imageZoom 10s linear;
    -o-animation: landingSlideshow 15s linear 5s, imageZoom 10s linear;
    animation: landingSlideshow 15s linear 5s, imageZoom 10s linear;
  }
  
  img.landingImage:nth-child(3) {
     z-index: 2;
    -webkit-animation: landingSlideshow 15s linear 10s;
    -moz-animation: landingSlideshow 15s linear 10s;
    -ms-animation: landingSlideshow 15s linear 10s;
    -o-animation: landingSlideshow 15s linear 10s;
    animation: landingSlideshow 15s linear 10s;
  }



  /* Slideshow effects */
  @-webkit-keyframes landingSlideshow {
    25% { opacity: 1; }
    33.33% { opacity: 0; } 
    91.66% { opacity: 0;}
    100% { opacity: 1;}
 }
 @-moz-keyframes landingSlideshow {
    25% { opacity: 1;}
    33.33% { opacity: 0;} 
    91.66% { opacity: 0;}
    100% { opacity: 1;}
 }
 @-ms-keyframes landingSlideshow {
    25% { opacity: 1;}
    33.33% { opacity: 0;} 
    91.66% { opacity: 0;}
    100% { opacity: 1;}
 }
 @-o-keyframes landingSlideshow {
    25% { opacity: 1;}
    33.33% { opacity: 0;} 
    91.66% { opacity: 0;}
    100% { opacity: 1;}
 }
 @keyframes landingSlideshow {
    25% { opacity: 1;}
    33.33% { opacity: 0;} 
    91.66% { opacity: 0;}
    100% { opacity: 1;}
 }


/* zoom affects */
 @-webkit-keyframes imageZoom {
    25% { transform: scale(1.2) }
    50% { transform: scale(1.3) }
    75% { transform: scale(1.4) }
    100% { transform: scale(1.5) }
 }
 @-moz-keyframes imageZoom {
    25% { transform: scale(1.2) }
    50% { transform: scale(1.3) }
    75% { transform: scale(1.4) }
    100% { transform: scale(1.5) }
 }
 @-ms-keyframes imageZoom {
    25% { transform: scale(1.2) }
    50% { transform: scale(1.3) }
    75% { transform: scale(1.4) }
    100% { transform: scale(1.5) }
 }
 @-o-keyframes imageZoom {
    25% { transform: scale(1.2) }
    50% { transform: scale(1.3) }
    75% { transform: scale(1.4) }
    100% { transform: scale(1.5) }
 }
 @keyframes imageZoom {
    25% { transform: scale(1.2) }
    50% { transform: scale(1.3) }
    75% { transform: scale(1.4) }
    100% { transform: scale(1.5) }
 }
