body {
    height: 100vh;
    
}

ul.nav.nonHome.justify-content-left {
    background-color:#321F3F;
}

img.cornerLogo {
    position: absolute;
    border-left: solid 1px white;
    border-bottom: solid 1px white;
    top:0;
    right: 0;
    height: 12vh;
    width: auto;
    z-index: 75; 
}


div.tithe.col-lg {
    background-color: #B92D26;
    margin:0;
    
}

img#tithePlate {
    margin: 0;
    padding: 0 3vw 3vw 0;
    height: 60vh;
    width: auto;
    float:left;
}

h2.titheTitle {
    color: antiquewhite;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

p.tithePara {
    color: antiquewhite;
    font-size: 18px;
   text-align: justify;
    margin: 2vh 3vw 0 3vw !important;
    padding-bottom: 0 !important;
}


div.slides.col-10{
    height: auto;
    width: auto;
}
blockquote.blockquote {
    position: absolute;
    margin: auto;
    text-align: left;
    font-size: 30px;
    z-index: 3;
    -webkit-animation: slideshow 30s linear 0s infinite;
    -moz-animation: slideshow 30s linear 0s infinite;
    -ms-animation: slideshow 30s linear 0s infinite;
    -o-animation: slideshow 30s linear 0s infinite;
    animation: slideshow 30s linear 0s infinite;
}

blockquote.blockquote:nth-child(2) {
    opacity: 0;
    z-index: 2;
    -webkit-animation: slideshow 30s linear 10s infinite;
    -moz-animation: slideshow 30s linear 10s infinite;
    -ms-animation: slideshow 30s linear 10s infinite;
    -o-animation: slideshow 30s linear 10s infinite;
    animation: slideshow 30s linear 10s infinite;
}

blockquote.blockquote:nth-child(3) {
    opacity: 0;
    z-index: 1;
    -webkit-animation: slideshow 30s linear 20s infinite;
    -moz-animation: slideshow 30s linear 20s infinite;
    -ms-animation: slideshow 30s linear 20s infinite;
    -o-animation: slideshow 30s linear 20s infinite;
    animation: slideshow 30s linear 20s infinite;
  
}


span {
    font-size:100px;
    line-height:0.6em;
    opacity:0.2;
}


button.btn.btn-secondary.btn-lg {
    
    color: antiquewhite;
    font-size: 3.5vh;
    margin-right: 1vw;
    margin-top: 7vh;
}

button.btn.btn-secondary.btn-lg:hover{
    transform: scale(1.5);
    /* bottom: 6vh; */
}
@-webkit-keyframes slideshow {
    25% { opacity: 1;}
    33.33% { opacity: 0;} 
    91.66% { opacity: 0;}
    100% { opacity: 1;}
 }
 @-moz-keyframes slideshow {
    25% { opacity: 1;}
    33.33% { opacity: 0;} 
    91.66% { opacity: 0;}
    100% { opacity: 1;}
 }
 @-ms-keyframes slideshow {
    25% { opacity: 1;}
    33.33% { opacity: 0;} 
    91.66% { opacity: 0;}
    100% { opacity: 1;}
 }
 @-o-keyframes slideshow {
    25% { opacity: 1;}
    33.33% { opacity: 0;} 
    91.66% { opacity: 0;}
    100% { opacity: 1;}
 }
 @keyframes slideshow {
    25% { opacity: 1;}
    33.33% { opacity: 0;} 
    91.66% { opacity: 0;}
    100% { opacity: 1;}
 }


 
 @media screen and (max-width: 1000px) {
    img#tithePlate {
        height: 35vh;
        width:auto;
    }
}